@import './GlobalStyles';

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
	margin: 0;
	padding: 0;
	border: 0;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

/* Configuramos anclas suaves y el tamaño de la fuente */
html {
	scroll-behavior: smooth;

	font-size: 16px;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 14px;
	}
}

/* Configuramos la tipografía para toda la web */
body {
	min-height: 100vh;
	max-width: 100vw;


	font-size: 100%;
	font-family: $--FontFamily;
	color: $--TextPrincipalColor;
	background-color: $--PrincipalBackgroundColor;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: baseline;

	/* opcional */
	line-height: 1.4rem;

	/* opcional */
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	/* opcional */
	font-smooth: always;

	/* opcional */
	-webkit-font-smoothing: antialiased;

	/* opcional */
	-moz-osx-font-smoothing: grayscale;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	/* opcional */
	-o-object-fit: cover;
	object-fit: cover;
	/* opcional */
	-o-object-position: center center;
	object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
	display: inline;
}

/* Quitamos los puntos de los <li> */
li {
	list-style-type: none;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
	font-size: 1rem;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
	background-color: #fff;
	color: #000;
}

::selection {
	background-color: #000;
	color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: transparent;
	color: inherit;
	display: block;
	/* opcional */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
	display: inline;
	width: initial;
  } */

/* Modificamos la barra de scroll(opcional) */

// ::-webkit-scrollbar {
// 	width: 12px;
// 	background-color: $--PrimaryColor1;
// 	color: white;
// 	padding: 1rem;
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: $--SecondaryColor1;
// 	border: 3px solid $--PrimaryColor1;
// 	border-radius: 0.3rem;
// }